<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="description"
	content="ERegistrar demo application for Spring WebMVC">
<meta name="author" content="B.Davaabayar">
<link rel="icon" href="favicon.ico">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
<link
	href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>

<title>E Registrar</title>
</head>
<body>
	<!-- Navigation by template-->
	<div th:replace="~{/home/index :: navigation}"></div>

	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('/img/bg.jpg'); height: 70px;">
		<div class="overlay"></div>
	</header>
	<div class="container" style="max-width: 500px;">
		<h1>Add Student</h1>
		<form id="newStudentForm" method="post" action="/eregistrar/student/new" th:object="${student}">
		  <input type="hidden" name="studentId" th:value="${student.studentId}"/>
			<fieldset>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="studentNumber">Student Number <span style="color: red">*</span></label> 
							<span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
							 class="alert alert-danger"></span>
							<input id="studentNumber" name="studentNumber"
								type="text" class="form-control"
								th:value="${student.studentNumber}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="firstName">First Name <span
								style="color: red">*</span></label> 
								<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
							 class="alert alert-danger"></span>
								<input id="firstName"
								name="firstName" type="text" class="form-control"
								th:value="${student.firstName}" required="required">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="middleName">Middle Name</label>
							<span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
							 class="alert alert-danger"></span>
							<input
								id="middleName" name="middleName" type="text"
								class="form-control" th:value="${student.middleName}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="lastName">Last Name <span style="color: red">*</span></label>
							<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
							 class="alert alert-danger"></span>
							<input id="lastName" name="lastName" type="text"
								class="form-control" th:value="${student.lastName}"
								required="required">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for=cgpa>GPA</label> <input id="cgpa" name="cgpa"
								type="text" class="form-control" aria-describedby="cgpaHelp"
								placeholder="0.00" pattern="^[0-4]{1}(?:\.[0-9]{2})?$"
								th:value="${student.cgpa}">
								<span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
							 class="alert alert-danger"></span>								 
								<small id="cgpaHelp"
								class="form-text text-muted">Enter a valid GPA (e.g.
								4.00)</small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="enrollmentDate">Enrolled <span
								style="color: red">*</span></label> 
								<span th:if="${#fields.hasErrors('enrollmentDate')}" th:errors="*{enrollmentDate}"
							 class="alert alert-danger"></span>		
								<input id="enrollmentDate"
								name="enrollmentDate" type="date" class="form-control"
								th:value="${student.enrollmentDate}" required="required">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="isInternational">Is International <span
								style="color: red">*</span></label> 
							<select class="form-control" name="isInternational">
							  <option value=1>Yes</option>
							  <option value=0>No</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="/eregistrar/student/new" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
						<button id="btnSubmit" type="submit"
							class="btn btn-outline-success">Save Student</button>
					</div>
				</div>
	</div>
	</fieldset>
	</form>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>