<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="description" content="ERegistrar demo application for Spring WebMVC">
<meta name="author" content="B.Davaabayar">
<link rel="icon" href="favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
<title>E Registrar</title>
</head>
<body>
	<!-- Navigation -->
	<div th:replace="~{/home/index :: navigation}"></div>

	<!-- Page Header -->
	<header class="masthead" style="background-image: url('/img/bg.jpg'); height:70px;">
		<div class="overlay"></div>
	</header>
  <div style="padding-top:1em;" class="container">
       <div>
           <h1>Search Student</h1>
           <form class="form-inline my-lg-0" id="searchStudentForm" method="get" action="/eregistrar/student/search" >
               <input id="searchStudent" name="query" class="form-control col-md-7 col-sm-12" type="text" th:value="${query}" placeholder="Search" >
               <select name="type" id="type" class="form-control col-md-2 col-sm-6">
               		<option value="name" th:selected="${type=='name'}">Name</option>
               		<option value="studentNumber"  th:selected="${type=='studentNumber'}">Student number</option>
               		<option value="gpa" th:selected="${type=='gpa'}">GPA</option>               		
               </select>
               <button id="btnSubmit" type="submit" class="btn btn-success col-lg-3 col-sm-6" style="padding: 8px 25px;">Search Student</button>
           </form>
          
           <strong>
               <span>Search result </span>
	           <span th:if="${type!=''}" th:text="' type = '+${type}"></span>
	           <span th:if="${query!=''}" th:text="' , keyword = '+${query}"></span>
           </strong>
           
       </div>
       <div style="font-size: 1em; margin-top:2em">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student number</th>
                    <th scope="col">First name</th>
                    <th scope="col">Middle name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Current GPA</th>
                    <th scope="col">Enrolled</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stu,iterStat : ${students}">
                	<th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${stu.studentNumber}"></td>
                    <td th:text="${stu.firstName}"></td>
                    <td th:text="${stu.middleName}"></td>
                    <td th:text="${stu.lastName}"></td>
                    <td th:text="${stu.cgpa}"></td>
                    <td th:text="${stu.enrollmentDate}"></td>
                    <!-- <td>
                    	<span th:if="${stu.isInternational}">Yes</span>
                    	<span th:unless="${stu.isInternational}">No</span>
                    </td> -->
                    <td><a th:href="@{'/eregistrar/student/edit/{studentId}'(studentId=${stu.studentId})}">Edit</a></td>
                    <td><a data-toggle="modal" data-target="#confirmDeleteStudentModal" th:href="@{'/eregistrar/student/delete/' + ${stu.studentId}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
             <!-- Pagination -->
           
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="#confirmDeleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this student data?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>